<div *ngIf="show == true; else hide" class="infoCont">
  <button (click)="back()" type="button" class="btn btn--primary uppercase">
    BACK
  </button>

  <h1>Transport total price: {{ tranPrice }} €</h1>
  <br />
  <h3>Items that got loaded on truck</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.weight }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #hide>
  <div class="container">
    <h3>Input takes kg weight. Minimum is 1000kg and maximum is 8000kg</h3>
    <div class="container__item">
      <form class="form">
        <input type="number" class="form__field" placeholder="Max load" #load />
        <button
          (click)="Onenter(load.value)"
          type="button"
          class="btn btn--primary uppercase"
          max="8000"
          min="1000"
        >
          ADD TRUCK
        </button>
      </form>
    </div>
  </div>
</ng-template>
<div *ngIf="error">
  <h4 style="color: red; text-align: center;">{{ error }}</h4>
</div>
